<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .fa {
            padding: 20px;
            font-size: 30px;
            
            text-align: center;
            text-decoration: none;
            
            margin: auto;
            
            
        }
            .fa:hover {
                color: rgba(243, 16, 171, 0.8);
                opacity: 0.7;
                /**/
            }

        .fa-facebook, .fa-twitter, .fa-google, .fa-linkedin, .fa-instagram {
            color: white;
        }

        .hover, #doctorsA, #patientsA, #doctorsP, #medicinesP, #diagnosesP, #receiptsP, #appointmentsP, #patientsD,
        #mypatientsD, #mediciesD, #appointmentsD {
            background-color: transparent;
        }
            #doctorsA a:hover, #patientsA a:hover, #doctorsP a:hover, #medicinesP a:hover, #diagnosesP a:hover, #receiptsP a:hover, #appointmentsP a:hover,
            #patientsD a:hover, #mypatientsD a:hover, #mediciesD a:hover, #appointmentsD a:hover {
                background-color: transparent;
            }

    </style>

</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-light" style="background: url('../../Images/background.jpg');background-repeat:no-repeat;
        background-size:cover; border: none;">
        <div style="background-color: rgba(243, 16, 171, 0.2); ">
            <div class="container ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("MYHealthRecords", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color: white; font-size: 20px;" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.IsInRole("Doctor"))
                        {
                            // <li>@Html.ActionLink("Doctors", "Index", "Doctors")</li>
                            <li>@Html.ActionLink("Patients", "Index", "Patients", null, new { @style = "color: white; font-size: 15px;", id="patientsD" })</li>
                            <li>@Html.ActionLink("My Patients", "MyPatients", "Patients", null, new { @style = "color: white;font-size: 15px;", id="mypatientsD" })</li>
                            <li>@Html.ActionLink("Medicines", "Index", "Medicines", null, new { @style = "color: white; font-size: 15px;", id="mediciesD" })</li>

                            <li>@Html.ActionLink("Requested Appointments", "ShowAppointments", "Appointments", null, new { @style = "color: white; font-size: 15px;", id= "appointmentsD" })</li>


                        }
                        @if (User.IsInRole("Patient"))
                        {
                            <li>@Html.ActionLink("Doctors", "Index", "Doctors", null, new { @style = "color: white;font-size: 15px;", id="doctorsP" })</li>
                            <li>@Html.ActionLink("Medicines", "Index", "Medicines", null, new { @style = "color: white;font-size: 15px;", id = "medicinesP" })</li>
                            <li>@Html.ActionLink("My Diagnoses", "ShowDiagnoses", "Diagnoses", null, new { @style = "color: white;font-size: 15px;", id="diagnosesP" })</li>
                            <li>@Html.ActionLink("My Receipts", "ShowReceipts", "Receipts", null, new { @style = "color: white;font-size: 15px;", id="receiptsP" })</li>
                            <li>@Html.ActionLink("My Requests", "ShowAppointmentsPatient", "Appointments", null,  new { @style = "color: white;font-size: 15px;", id="appointmentsP" })</li>



                        }
                        @if (User.IsInRole("Admin"))
                        {

                            <li>@Html.ActionLink("Doctors", "Index", "Doctors", null, new { @style = "color: white;font-size: 18px;", id="doctorsA" })</li>
                            <li>@Html.ActionLink("Patients", "Index", "Patients", null, new { @style = "color: white;font-size: 18px;", id="patientsA"})</li>



                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content" style="padding: 0; margin: 0;">
        @RenderBody()
        
        <!-- Footer -->               

        <footer class="navbar-default navbar-fixed-bottom navbar-inverse" style="background-color: rgb(28, 23, 53);">
            <div class="row">
                <div class="col-md-offset-4 col-md-8">
                    <a href="https://www.facebook.com" class="fa fa-facebook" style="text-decoration:none;"></a>
                    <a href="https://www.twitter.com" class="fa fa-twitter" style="text-decoration:none;"></a>
                    <a href="https://www.linkdin.com" class="fa fa-linkedin" style="text-decoration:none;"></a>
                    <a href="https://www.instagram.com" class="fa fa-instagram" style="text-decoration:none;"></a>
                    <a href="https://www.google.com" class="fa fa-google" style="text-decoration:none;"></a>
                </div>
                
            </div>

            <div class="row">
                <div class="col-md-offset-4 col-md-7" style="padding-left: 60px;">
                    <span style="color: white;">© 2018 Copyright: MyHealthRecordsInc.</span>
                </div>
                </div>
</footer>
        <!-- Footer -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
