@model HealthRecords.Models.Patient

@{
    ViewBag.Title = "Delete";
}
<div class="row" style="margin: 30px;">
    <div class="col-md-offset-4 col-md-6">
        <div class="row">
            <div class="col-md-12">
                
                <h2 style="color: rgba(243, 16, 171, 0.8); font-weight:700; padding: 0; font-size: 25px; margin: 10px; text-align: center;">
                    @Html.ActionLink(" ", "Index", null, new { @class = "glyphicon glyphicon-arrow-left", @style = "color: rgba(243, 16, 171, 0.8); margin-right: 10px; text-decoration: none;" })
                    Are you sure you want to delete the patient  @Html.DisplayFor(model => model.Surname)?
                </h2>
            </div>
            </div>       
                <div>
                    <hr />
                    <div class="row">
                        <div class="col-md-offset-2">
                            <dl class="dl-horizontal">
                                <dt style="color: rgba(243, 16, 171, 0.8);">
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>

                                <dt style="color: rgba(243, 16, 171, 0.8);">
                                    @Html.DisplayNameFor(model => model.Surname)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Surname)
                                </dd>

                                <dt style="color: rgba(243, 16, 171, 0.8);">
                                    @Html.DisplayNameFor(model => model.Age)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Age)
                                </dd>

                                <dt style="color: rgba(243, 16, 171, 0.8);">
                                    @Html.DisplayNameFor(model => model.Address)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Address)
                                </dd>

                                <dt style="color: rgba(243, 16, 171, 0.8);">
                                    @Html.DisplayNameFor(model => model.Embg)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Embg)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
        {
                    @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-offset-1">
                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" style="width: 100%; color: white; background-color: rgba(243, 16, 171, 0.8); border-color: rgba(243, 16, 171, 0.8);" />

                                </div>
                                    </div>
                            </div>
                    


}
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
