@model HealthRecords.Models.DoctorPatientReceipt
@{
    ViewBag.Title = "AddRececipt";
}

<div class="row" style="margin-top: 30px;">
    <div class="col-md-offset-4 col-md-6">

        <div class="row">
            <div class="col-md-offset-4 col-md-6">
                <h2 style="color: rgba(243, 16, 171, 0.8); font-weight:700; padding: 0; font-size: 30px; margin: 10px;">Add Receipt</h2>
            </div>
        </div>
        <hr>
        <div class="col-md-offset-1 col-md-10">
            @using (Html.BeginForm("AddReceipt", "Receipts"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Date, htmlAttributes: new { @class = "control-label col-md-3", @style = "color: rgba(243, 16, 171, 0.8); " })
                @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(m => m.Date)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, htmlAttributes: new { @class = "control-label col-md-3", @style = "color: rgba(243, 16, 171, 0.8); " })
                @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.HiddenFor(m => m.PatientId)
            @Html.HiddenFor(m => m.DoctorId)

            <div class="col-md-offset-3 col-md-8" style="padding-left: 0;">
                <div class="form-group" style="padding: 0;">

                    <button class="btn btn-default" type="submit" style="background-color: rgba(243, 16, 171, 0.8); border-color: rgba(243, 16, 171, 0.8); color: white; width: 100%;">Save</button>
                </div>
            </div>
    }
            </div>
        </div>
    </div>



