@model HealthRecords.Models.DoctorPatientAppointment
@{
    /**/

    ViewBag.Title = "RequestAppointment";
}
<style>
    input[type="text"]:focus, input[type="numbers"]:focus, input[type="submit"]:focus {
        box-shadow: 0 0 5px rgba(243, 16, 171, 0.8);
        border: 1px solid rgba(243, 16, 171, 0.8);
    }
</style>

<div class="row" style="margin-top: 50px;">
    <div class="col-md-offset-4 col-md-9 col-lg-offset-4 col-lg-5 col-sm-offset-3 col-sm-9">
        <h2 class="form-signin-heading" style="color: rgba(243, 16, 171, 0.8); font-weight:800; padding: 0; font-size: 30px; margin: 10px;">
            @Html.ActionLink(" ", "ShowAppointmentsPatient", "Appointments", null, new { @class = "glyphicon glyphicon-arrow-left", @style = "color: rgba(243, 16, 171, 0.8); font-size: 25px; text-decoration: none; margin-right: 10px; margin-left: 10px;" })

            Request Appointment
        </h2>
        <hr>
        <br>
        <div class="text-center">
        @using (Html.BeginForm("RequestAppointment", "Appointments"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, htmlAttributes: new { @class = "control-label col-md-2", @style = "color: rgba(243, 16, 171, 0.8); margin-right: 15px;" })
            @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.FirstName, null, htmlAttributes: new { @style="color: red; font-weight: 600;" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, htmlAttributes: new { @class = "control-label col-md-2", @style = "color: rgba(243, 16, 171, 0.8); margin-right: 15px;" })
            @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.LastName, null, htmlAttributes: new { @style = "color: red; font-weight: 600;" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Age, htmlAttributes: new { @class = "control-label col-md-2", @style = "color: rgba(243, 16, 171, 0.8); margin-right: 15px;" })
            @Html.EditorFor(m => m.Age, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Age, null, htmlAttributes: new { @style = "color: red; font-weight: 600;" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Date, htmlAttributes: new { @class = "control-label col-md-2", @style = "color: rgba(243, 16, 171, 0.8); margin-right: 15px;" })
            @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
            @Html.ValidationMessageFor(m => m.Date, null, htmlAttributes: new { @style = "color: red; font-weight: 600;" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Condition, htmlAttributes: new { @class = "control-label col-md-2", @style = "color: rgba(243, 16, 171, 0.8); margin-right: 15px;" })
            @Html.EditorFor(m => m.Condition, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Condition, null, htmlAttributes: new { @style = "color: red; font-weight: 600;" })
        </div>
        @Html.HiddenFor(m => m.PatientId)
        @Html.HiddenFor(m => m.DoctorId)
        
           
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8" >
                        <button type="submit" class="btn btn-default" style="background-color: rgba(243, 16, 171, 0.8); color: white; border-color: rgba(243, 16, 171, 0.8); width: 100%;">Submit</button>
                    </div>
                </div>
            
        
}
            </div>
    </div>
    </div>

