@model HealthRecords.Models.Medicine

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-offset-4 col-md-5">
            <form>
                <div class="row">
                    <div class="col-md-offset-2 col-md-offset-0">
                        <h2 style="color: rgba(243, 16, 171, 0.8); font-weight:800; padding: 10px; font-size: 35px; margin: 10px;">
                            @Html.ActionLink(" ", "Index", null, new { @class = "glyphicon glyphicon-arrow-left", @style = "color: rgba(243, 16, 171, 0.8); font-size: 25px; text-decoration: none;" })
                            Edit Medicine
                        </h2>
                    </div>
                </div>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        <br />
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Description" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        <br />

                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", placeholder = "Price" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" value="Edit" class="btn btn-lg btn-primary btn-block" style="background-color: rgba(243, 16, 171, 0.8); border-color: rgba(243, 16, 171, 0.8)" />
                    </div>
                </div>
            </form>
        </div>
    </div>
}